<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap5.3.3.css}" />
    <link rel="stylesheet" th:href="@{/css/customNavbar.css}" />
    <script th:src="@{/js/bootstrap5.3.3.js}"></script>
    <script th:src="@{/js/customNavbar.js}"></script>
    <title>Deutschland - Index</title>
    
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand">Deutschland</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about-us}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/osd-exam}">OSD Exam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Main Content -->
    <div class="container mt-5 text-center welcome-section content" style="padding-top: 100px;">
        <h1 class="display-4">Welcome to Deutschland</h1>
        <p class="lead">Your gateway to a bright career in Germany.</p>
    </div>

   
    <!-- Footer -->
    <footer class="bg-dark text-white mt-5 content">
        <!-- Footer -->
        <div class="mt-5">
            <div th:replace="footer :: footer"></div>
        </div>
    </footer>
</body>

</html>