<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/bootstrap5.3.3.css}" />
<link rel="stylesheet" th:href="@{/adminlte/css/adminlte.min.css}">
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/bootstrap5.3.3.js}"></script>
<title>Benefits Of Learning German</title>

</head>
<body>
	<!-- Navbar -->
    <div class="navbar">
        <div th:replace="header :: header"></div>
    </div>
	<div><h1>Benefits Of learning German</h1></div>
    <div><p>The German Language Institute offers progressively structured German language courses from elementary to advanced levels in accordance with the Goethe-Institut curriculum and the Common European Framework of Reference for Languages.</p></div>


    <div><h1>What We're All About</h1></div>
    <div><p>We believe that the service we offer should speak for itself.

        At Duetchland, we are committed to create a platform that helps you to keep learning German Language with ease.
        
        With a team of fun, talented and dedicated people, Duetchland- The German Language Institute & The Leading Consultancy in India for Ausbildung in Germany- is now a nation-wide popular place to learn German offline or online.
        
        Duetchland, having more than 115 Partners across India, Nepal, Sri-Lanka and Malaysia, is providing pre & post arrival services to candidates going to Germany for Ausbildung in more than 26 categories.
        
        Duetchland offers solutions to queries related to German Language, Admissions in Germany, Ausbildung in Germany, Assistance for Job in Germany and in India.</p></div>


	<!-- Include the footer fragment -->
	<div th:replace="footer :: footer"></div>
</body>
</html>
