<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Header</title>
</head>

<body>
	<header>
		<!-- Navigation Bar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				
				<a href="/" class="website-name navbar-brand">Duetchland</a>
				<!-- Button for mobile view -->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Collapsible Navbar -->
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">

						<li class="nav-item dropdown">
                            <a class="btn nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                About Us
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                                <li><a class="dropdown-item" href="/why-duetchland">Why Duetchland</a></li>
                                <li><a class="dropdown-item" href="/why-german">Why German</a></li>
                                <li><a class="dropdown-item" href="/benefits-of-learing-german">Benefits Of Learing German</a></li>
                            </ul>
                        </li>

						<li class="nav-item dropdown">
                            <a class="btn nav-link dropdown-toggle" href="#" id="coursesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Courses
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="coursesDropdown">
                                <li><a class="dropdown-item" href="/german-language-courses">German Language Courses</a></li>
                                <li><a class="dropdown-item" href="/course-highlights">Course Highlights</a></li>
                                <li><a class="dropdown-item" href="/learn-german-online">Learn German Online A1 + A2</a></li>
                            </ul>
                        </li>
						
						<li class="nav-item"><a class="btn nav-link" href="/osd-exam">OSD Exam</a></li>

						<li class="nav-item dropdown">
                            <a class="btn nav-link dropdown-toggle" href="#" id="ausbildungDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ausbindung
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="ausbildungDropdown">
                                <li><a class="dropdown-item" href="/ausbildung-program">Ausbildung Program</a></li>
                                <li><a class="dropdown-item" href="/faqs-vocational-training">FAQ's - Vocational Training</a></li>
                            </ul>
                        </li>

						<li class="nav-item dropdown">
                            <a class="btn nav-link dropdown-toggle" href="#" id="studyDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Study In Germany
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="studyDropdown">
                                <li><a class="dropdown-item" href="/why-study-in-germany">Why Study In Germany</a></li>
                                <li><a class="dropdown-item" href="/bachelor-courses-in-germany">Bachelor Courses In Germany</a></li>
                                <li><a class="dropdown-item" href="/masters-in-germany">Masters In Germany</a></li>
                                <li><a class="dropdown-item" href="/studienkolleg-in-germany">Studienkolleg In Germany</a></li>
                                <li><a class="dropdown-item" href="/our-services">Our Services</a></li>
                            </ul>
                        </li>

						<li class="nav-item dropdown">
                            <a class="btn nav-link dropdown-toggle" href="#" id="blogsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Blogs
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="blogsDropdown">
                                <li><a class="dropdown-item" href="/blogs">Blogs</a></li>
                                <li><a class="dropdown-item" href="/feed">Feed</a></li>
                            </ul>
                        </li>
						
						<li class="nav-item"><a class="btn nav-link" href="/contact">Contact</a></li>

						
					</ul>
				</div>
			</div>
		</nav>
	</header>
</body>

</html>