<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Header</title>
</head>

<body>
	<header>
		<!-- Navigation Bar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<!-- Website Name -->
				<a href="/" class="website-name navbar-brand">Duetchland</a>
				<!-- Button for mobile view -->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Collapsible Navbar -->
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">




						<!-- Home -->
						<li class="nav-item"><a class="btn nav-link" href="/">Home</a></li>


						<li class="nav-item dropdown">
                            <a class="btn nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                About Us
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                                <li><a class="dropdown-item" href="/why-duetchland">Why Duetchland</a></li>
                                <li><a class="dropdown-item" href="/why-german">Why German</a></li>
                                <li><a class="dropdown-item" href="/benefits-of-learing-german">Benefits Of Learing German</a></li>
                            </ul>
                        </li>


						<!-- adminAddUser -->
						<li class="nav-item"><a class="btn nav-link" href="/contactUs">Contact Us</a></li>

						<li class="nav-item"><a class="btn nav-link" href="/login">Login</a></li>

					</ul>
				</div>
			</div>
		</nav>
	</header>
</body>

</html>