<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/bootstrap5.3.3.css}" />
<link rel="stylesheet" th:href="@{/adminlte/css/adminlte.min.css}">
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/bootstrap5.3.3.js}"></script>
<title>Why German</title>

</head>
<body>
	<!-- Navbar -->
    <div class="navbar">
        <div th:replace="header :: header"></div>
    </div>
    <div><h1>Why German</h1></div>
    <div><p>With its rich culture and robust economy, Germany has something for everyone, from exciting employment and business opportunities to vibrant art and music scene. Here are some interesting facts about German</p></div>

	<!-- Include the footer fragment -->
	<div th:replace="footer :: footer"></div>
</body>
</html>
